{
  "extends": [
    "wesbos",
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
